table {
    width: 100%;

    .button-container {
        width: 200px;
        
    }

    .mat-delete {
        color: #0707075c;
    }

    a {
        text-decoration: none;
    }

    
}

::ng-deep {
    table {
        &.datatable {
            tbody {
                min-height: 300px;
            }
        }
    }
}