table {
    width: 100%;

    .button-container {
        width: 200px;
        
    }

    .mat-delete {
        color: #0707075c;
    }

    a {
        text-decoration: none;
        font-size: 12px;
    }

    
}

::ng-deep {
    table {
        &.datatable {
            tbody {
                td {
                    line-height: 48px;
                    font-size: 12px;
                }
            }
        }
    }
}