<h1>Create Task</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-row">
        <div class="form-group col-5">
            <label>Task id</label>
            <input type="text" formControlName="task_id" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.task_id.errors }" />
            <div *ngIf="submitted && f.task_id.errors" class="invalid-feedback">
                <div *ngIf="f.task_id.errors.required">task id is required</div>
            </div>
        </div>
        <div class="form-group col-5">
            <label>Task Name</label>
            <input type="text" formControlName="taskName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.taskName.errors }" />
            <div *ngIf="submitted && f.taskName.errors" class="invalid-feedback">
                <div *ngIf="f.taskName.errors.required">taskName is required</div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Save
        </button>
        <a routerLink="employee-list" class="btn btn-link">Cancel</a>
    </div>
</form>