<spinner></spinner>
<div fxLayout="column" fxLayoutGap="20px">
    <div class="dash-row" fxLayout="row-reverse" *ngIf="user.role === 'EMPLOYEE'">
        <button type="button" class="btn btn-primary" (click)="downloadPdf()">Download Reports For Past Weeks</button>
    </div>
    <div fxLayout="row wrap" fxLayoutGap="20px">
        <div class="row-item card shadow" fxFlex>
            <div class="card-body">
                <h5 class="card-title"> Worked On</h5>
                <div class="card-text">
                    <table mat-table [dataSource]="dataSource1">

                        <th mat-header-cell *matHeaderCellDef>hello</th>

                        <!-- Name Column -->
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef>Project Name </th>
                            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                        </ng-container>

                        <!-- Weight Column -->
                        <ng-container matColumnDef="date">
                            <th mat-header-cell *matHeaderCellDef> Last Worked At</th>
                            <td mat-cell *matCellDef="let element"> {{element.date| date}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    <div *ngIf="!dataSource1?.data.length" class="with-min-height" fxLayout="row" fxLayoutAlign="center center">
                        <span>No data to show</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-item card shadow" fxFlex>
            <div class="card-body">
                <h5 class="card-title"> Assigned Projects</h5>
                <div class="card-text">
                    <table mat-table [dataSource]="dataSource2">

                        <th mat-header-cell *matHeaderCellDef>hello</th>

                        <!-- Name Column -->
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef>Project Name </th>
                            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                        </ng-container>

                        <!-- Weight Column -->
                        <ng-container matColumnDef="date">
                            <th mat-header-cell *matHeaderCellDef>Assigned Date </th>
                            <td mat-cell *matCellDef="let element"> {{element.date| date}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    <div *ngIf="!dataSource2?.data.length" class="with-min-height" fxLayout="row" fxLayoutAlign="center center">
                        <span>No data to show</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dash-row" fxLayout="row wrap" fxLayoutGap="20px">
        <div class="row-item card shadow" fxFlex>
            <div class="card-body widget">
                <h5 class="card-title" *ngIf="!bigChart.length">Weekly Spent Hours on Projects per day</h5>
                <div class="card-text" fxLayout="row" fxLayoutAlign="center center">
                    <app-widget-area *ngIf="!!bigChart.length" [data]="bigChart" #areaChart></app-widget-area>
                    <div *ngIf="!bigChart.length">No Data to show</div>
                </div>
            </div>
        </div>
        <div class="row-item card shadow" fxFlex>
            <div class="card-body widget">
                <h5 class="card-title" *ngIf="!pieChartData.length">Project Involvement</h5>
                <div class="card-text" fxLayout="row" fxLayoutAlign="center center">
                    <app-widget-pie *ngIf="!!pieChartData.length" [data]="pieChartData" #pieChart></app-widget-pie>
                    <div *ngIf="!pieChartData.length">No Data to show</div>
                </div>
            </div>
        </div>
    </div>
    <div class="dash-row" fxLayout="row wrap" fxLayoutGap="20px">
        <div class="break row-item" fxFlex>
            <div class="card shadow" >
                <div class="card-body">
                    <h5 class="card-title">Breaks Taken</h5>
                    <div class="card-text" fxLayout="column">
                        <div class="progress-container">
                            <mat-progress-bar [color]="'primary'" [value]="getPercent(break.today, 0.5)" [mode]="'determinate'"></mat-progress-bar>
                            <span class="hour">{{break.today}}hrs</span> of 0.5 hrs today
                        </div>
                        <div class="progress-container">
                            <mat-progress-bar [color]="'primary'" [value]="getPercent(break.today, 2.5)" [mode]="'determinate'"></mat-progress-bar>
                            <span class="hour">{{break.weekly}}hrs</span> of 2.5 hrs this week
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="break row-item" fxFlex>
            <div class="card shadow" >
                <div class="card-body">
                    <h5 class="card-title">Activity Today</h5>
                    <div class="card-text" fxLayout="column">
                        <div class="progress-container">
                            <mat-progress-bar [color]="'primary'" [value]="getPercent(workingHrs.today, 9)" [mode]="'determinate'"></mat-progress-bar>
                            <span class="hour">{{workingHrs.today}}hrs</span> of 9 hrs today
                        </div>
                        <div class="progress-container">
                            <mat-progress-bar [color]="'primary'" [value]="getPercent(workingHrs.today, 45)" [mode]="'determinate'"></mat-progress-bar>
                            <span class="hour">{{workingHrs.weekly}}hrs</span> of 45 hrs this week
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>