.stats-cards {
  .mat-card {
    overflow: hidden;
  }
}

.row-item {
  min-width: 420px;
}

.break {

  .hour {
    font-size: 32px;
    font-weight: 600;
  }
}

table {
  width: 100%;
}

.progress-container {
  padding: 30px 0px;
}