<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button (click)="toggleSideBar()">
            <mat-icon>menu</mat-icon>
        </button>

        <span> Employee Time Tracking App </span>

        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            <ul fxLayout="row" fxLayoutGap="20px"> 
                <li>
                        <a mat-raised-button (click)="logout()" color="accent">Sign out</a>

                </li>
            </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar>