doctype html 
html
  head
    title= title
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.d-flex.justify-content-center
      div.card.w-50
        div.card-body
          h5.card-title Authorization Successful
          p.card-text 
            p You have provided access to Employee Time Tracking App. Trello has been integrated with Employee Time Tracking App. You can now import projects to the app. 
            p Please close this window and return to the previous window.