<div class="container">
  <h1>Workdiary</h1>
  <div class="row">
    <div class="col">Your diary for the day 12/09/2021</div>
  </div>
  <div class="d-flex calendar mt-2 form-group">
    <div class="label">Choose a day</div>
    <span>
      <input [formControl]="date" type="text" placeholder="Datepicker" class="form-control" bsDatepicker placement="bottom left" data-date-format='dd/mm/yyyy'>
    </span>
  </div>
  <div class="hr"></div>
  <div class="mt-2"></div>

  <div class="diary" fxLayout="column" fxLayoutGap="30px" *ngIf="!!($workDiary | async)?.length">
    <div *ngFor="let timeHour of ($workDiary | async)" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
      <div class="timehour">{{timeHour.timeHour === '0 PM' ? '12 PM' : timeHour.timeHour}}</div>
      <div *ngFor="let task of timeHour.taskInfo">
        <div fxLayout="column" fxLayoutGap="5px">
          <div class="task-label">{{task.taskId}}</div>
          <div fxLayout="row" fxLayoutGap="10px">
            <div *ngFor="let capture of task.captures">
              <div fxLayout="column">
                <img class="capture" [src]="capture.location" (click)="openCapture(capture.location)"/>
                <span class="task-content">11:00pm</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="no-data" *ngIf="!($workDiary | async) || !($workDiary | async)?.length">
    No data for the date
  </div>
</div>

<!-- <main class="container">

  <div class="menu">

    <header fxLayout="row" fxLayout.lt-sm="column">

      <h1 class="title">Time Tracker</h1>

      <div fxLayout="row">

        <button class="btn btn-primary" (click)="openCreateDialog()"><i class="fa fa-plus"></i></button>
        <input fxFlex (input)="search()" [(ngModel)]="searchTerm" type="text" placeholder="Search"
          class="form-control search">
      </div>

    </header>

    <nav>

      <a routerLinkActive="is-active" routerLink="current" (click)="searchTerm = ''">Current</a>

      <a routerLinkActive="is-active" routerLink="archive" (click)="searchTerm = ''">Archive</a>

    </nav>

    <router-outlet></router-outlet>
  </div>
</main> -->