<h1>Workdiary</h1>

<div class="container">
  <div class="row">
    <div class="col">Your diary for the day 12/09/2021</div>
  </div>
  <div class="d-flex calendar mt-2 form-group">
    <div class="label">Choose a day</div>
    <span>
      <input type="text" placeholder="Datepicker" class="form-control" bsDatepicker placement="bottom left" data-date-format='dd/mm/yyyy'>
    </span>
  </div>
</div>

<!-- <main class="container">

  <div class="menu">

    <header fxLayout="row" fxLayout.lt-sm="column">

      <h1 class="title">Time Tracker</h1>

      <div fxLayout="row">

        <button class="btn btn-primary" (click)="openCreateDialog()"><i class="fa fa-plus"></i></button>
        <input fxFlex (input)="search()" [(ngModel)]="searchTerm" type="text" placeholder="Search"
          class="form-control search">
      </div>

    </header>

    <nav>

      <a routerLinkActive="is-active" routerLink="current" (click)="searchTerm = ''">Current</a>

      <a routerLinkActive="is-active" routerLink="archive" (click)="searchTerm = ''">Archive</a>

    </nav>

    <router-outlet></router-outlet>
  </div>
</main> -->