<div class="container">
  <h1>Work Diary</h1>
  <div class="row">
    <div class="col">
      <div *ngIf="role === 'EMPLOYEE'; Else empWorkDiary">Your diary for the day {{date.value | date:
        'd/M/yyyy'}}</div>
      <ng-template #empWorkDiary>
        <div>{{name}}'s diary for the day {{date.value | date: 'd/M/yyyy'}}</div>
      </ng-template>
    </div>
    <div class="d-flex calendar mt-2 form-group">
      <div class="label">Choose a day</div>
      <span>
        <input [formControl]="date" type="text" placeholder="Datepicker" class="form-control" bsDatepicker
          placement="bottom left" data-date-format='dd/mm/yyyy' [maxDate]="today" [bsConfig]="{showWeekNumbers: false}">
      </span>
    </div>
    <div class="mt-4"></div>
    <div class="hr"></div>
    <div class="mt-2"></div>

    <div class="diary" fxLayout="column" fxLayoutGap="30px" *ngIf="!!($workDiary | async)?.length">
      <div *ngFor="let timeHour of ($workDiary | async)" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px">
        <div class="timehour">{{timeHour.time}}</div>
        <div fxLayout="column" fxLayoutGap="10px">
          <div fxLayout="row" fxLayoutGap="10px">
            <div *ngFor="let description of timeHour.descriptionList">
              <div fxLayout="column">
                <div class="task-label" [class.empty]="description.taskId == 0">
                  <div class="label" fxFlex>{{description.taskDescription}}</div>
                </div>
                <div fxLayout="row" fxLayoutGap="10px">
                  <div class="captuer-space" *ngFor="let slot of description.timeSlot"></div>
                </div>
              </div>
            </div>
          </div>
          <div fxLayout="row" fxLayoutGap="10px">
            <div *ngFor="let slot of timeSlot">
              <div class="capture" *ngIf="!getImgInfo(slot, timeHour.flatterned, 'location'); else screenCapture"></div>
              <ng-template #screenCapture>
                <img class="capture" [src]="getImgInfo(slot, timeHour.flatterned, 'location')"
                  (click)="openCapture(getImgInfo(slot, timeHour.flatterned, 'location'))" />
                <div class="task-content">{{getImgInfo(slot, timeHour.flatterned, 'screenshotTakenAt') | date:
                  'shortTime'}}
                </div>
                <div class="form-check marking" *ngIf="showCheckbox()">
                  <input type="checkbox" class="form-check-input"
                    [checked]="getImgInfo(slot, timeHour.flatterned, 'unproductive')"
                    (click)="onMark($event, getImgInfo(slot, timeHour.flatterned, 'id'))">
                  <label class="form-check-label">Mark Unproductive</label>
                </div>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="no-data" *ngIf="!($workDiary | async) || !($workDiary | async)?.length">
      No data for the date
    </div>
  </div>
</div>