<mat-nav-list>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['/']">Dashboard</a>
    <a mat-list-item  *ngIf="user.role=='EMPLOYEE'" routerLinkActive="list-item-active" routerLink="workdiary">Work Diary</a>
    <a mat-list-item  routerLinkActive="list-item-active" [routerLink]="['/project', 'list']">Projects</a>
    <a mat-list-item *ngIf="user.role=='ADMIN'|| user.role=='MANAGER'" routerLinkActive="list-item-active" [routerLink]="['/user', 'list']">Employee</a>

    <mat-divider></mat-divider>


</mat-nav-list>