<h1>Task List</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width:30%">Task ID</th>
            <th style="width:30%">Task Name</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let task of tasks">
            <td>{{task.id}}</td>
            <td>{{task.taskDescription}}</td>
            <td style="white-space: nowrap">
                <a [routerLink]="['../update/'+task.id]" class="btn btn-sm btn-primary mr-1">Edit</a>
                <button (click)="deleteTask(task.id)" class="btn btn-sm btn-danger btn-delete-task" [disabled]="task.isDeleting">
                    <span *ngIf="task.isDeleting" class="spinner-border spinner-border-sm"></span>
                    <span *ngIf="!task.isDeleting">Delete</span>
                </button>
            </td>
        </tr>
        <tr *ngIf="!tasks">
            <td colspan="4" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    </tbody>
</table>