:host {
    .outline {
        outline: -webkit-focus-ring-color auto 1px;
        padding: 8px 6px;
        margin-top: 8px;
        input {
            border: none;
            outline: none;
        }
    }
}